<html ng-app="lvmApp">
<head>
    <title>LVM App - Student Form</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css">

    <link rel="stylesheet" href="css/form-style.css">
    
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="js/lvm.js"></script>
    <script src="js/admin/admin.js"></script>
</head>
<body ng-controller="AdminController as form">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header-include" ng-include="'components/header.html'"></div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <h2>Administration Portal</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 sidebar-outer">
                    <div class="sidebar">
                        <ul class="nav nav-stacked nav-pills">
                            <!-- Section Names -->
                            <li>
                                <a href="#createAccount">Create Account</a>
                            </li>
                            <li>
                                <a href="#manageAccounts">Manage Accounts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <form role="form" name="createAccount">
            
                        <div class="form-group" id="createAccount">
                            <h4>Create Account</h4>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="username">
                                        Username
                                    </label>
                                    
                                    <input type="text" required ng-model="username" class="form-control" id="username" ng-trim="true" maxlength="255" name="username"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="password">
                                        Password
                                    </label>
                                    
                                    <input type="password" required ng-model="password" class="form-control" id="password" ng-trim="true" maxlength="255" name="password"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="role">
                                        User Role
                                    </label>
                                    
                                    <div> 
                                        <select required ng-model="role" class="dropdown dropdown-full btn btn-default dropdown-toggle">
                                            <option value="-1" disabled>User Role</option>
                                            <option ng-repeat="role in $root.roles" ng-value="role">{{role}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="affiliate">
                                        Affiliate
                                    </label>
                                    
                                    <div> 
                                        <select required ng-model="affiliate" class="dropdown dropdown-full btn btn-default dropdown-toggle">
                                            <option value="-1" disabled>Affiliate</option>
                                            <option ng-repeat="affiliate in $root.affiliates" ng-value="affiliate.value">{{affiliate.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="padding-top: 20px; text-align:center">
                                <div class="col-md-12">
                                    <p class="alert alert-success" ng-if="form.accountCreated === true">Account created successfully!</p>
                                    <p class="alert alert-danger"  ng-if="form.accountCreated === false">{{form.accountCreationErrorMessage}}</p>
                                </div>
                            </div>
                            
                            <div class="row" style="padding-top: 5px; text-align:center">
                                <div class="col-md-12">
                                    <button ng-click="form.createAccount()" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <form role="form" name="manageAccounts">
            
                        <div class="form-group" id="manageAccounts">
                            <h4>Manage Accounts</h4>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="alert alert-success" ng-if="form.manageStatus === true">{{form.successManageMessage}}</p>
                                    <p class="alert alert-danger"  ng-if="form.manageStatus === false">{{form.errorManageMessage}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    ID
                                </div>
                                <div class="col-md-2">
                                    Username
                                </div>
                                <div class="col-md-2">
                                    Role
                                </div>
                                <div class="col-md-2">
                                    Affiliate
                                </div>
                                <div class="col-md-4">
                                    Commands
                                </div>
                            </div>
                            <hr/>
                            <div class="row account-row" ng-repeat="account in form.accounts">
                                <div class="col-md-1">
                                    {{account.id}}
                                </div>
                                <div class="col-md-2">
                                    {{account.username}}
                                </div>
                                <div class="col-md-2">
                                    {{account.role}}
                                </div>
                                <div class="col-md-2">
                                    {{$root.mapNumToAffiliate(account.branch)}}
                                </div>
                                <div class="col-md-5">
                                    <div class="col-md-12 command-row">
                                        <select ng-model="manageRoles[$index]" class="col-md-5 btn btn-default dropdown dropdown-toggle">
                                            <option selected value="-1" disabled>User Role</option>
                                            <option ng-repeat="role in $root.roles" ng-value="role">{{role}}</option>
                                        </select>
                                        <span class="col-md-2"></span>
                                        <button ng-click="form.updateRole(account.username, $index)" class="btn btn-default col-md-5">Update Role</button>
                                    </div>
                                    <div class="col-md-12 command-row">
                                        <select ng-model="manageAffiliates[$index]" class="col-md-5 btn btn-default dropdown dropdown-toggle">
                                            <option selected value="-1" disabled>Affiliate</option>
                                            <option ng-repeat="affiliate in $root.affiliates" ng-value="affiliate.value">{{affiliate.name}}</option>
                                        </select>
                                        <span class="col-md-2"></span>
                                        <button ng-click="form.updateAffiliate(account.username, $index)" class="btn btn-default col-md-5">Update Affiliate</button>
                                    </div>
                                    <div class="col-md-12 command-row">
                                        <button ng-click="form.updatePassword(account.username)" class="btn btn-default col-md-5">Update Password</button>
                                        <span class="col-md-2"></span>
                                        <button ng-click="form.deleteAccount(account.username)" class="btn btn-default col-md-5">Delete Account</button>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-if="!$last"><hr/></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>