<html ng-app="lvmApp">
<head>
    <title>LVM App - Student Form</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css">

    <link rel="stylesheet" href="css/form-style.css">

    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/lvm.js"></script>
    <script src="js/student/student-form.js"></script>
</head>

<body ng-controller="FormController as form">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header-include" ng-include="'components/header.html'"></div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <h2>New Student Form</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 sidebar-outer">
                    <div class="sidebar">
                        <ul class="nav nav-stacked nav-pills">
                            <!-- Section Names -->
                            <li ng-repeat="section in form.formDefinition">
                                <a ng-href="{{'#' + section.id}}">{{section.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <form role="form">

                        <div class="form-group" ng-repeat="section in form.formDefinition" id="{{section.id}}">
                            <hr/>
                            <div class="row" ng-repeat="row in section.fields">
                                <div class="{{field.class || 'col-md-12'}}" ng-repeat="field in row">
                                    <label for="{{field.name}}">
                                        {{field.placeholder}}
                                    </label>

                                    <div ng-switch="field.type">
                                        <!-- Boolean (Yes/No) -->
                                        <input ng-switch-when="boolean" type="checkbox" name="boolean-checkbox">

                                        <!-- Dropdown with customizable options -->
                                        <select ng-switch-when="dropdown" class="dropdown btn btn-default dropdown-toggle">
                                            <option value="" disabled>{{field.placeholder}}</option>
                                            <option ng-repeat="option in field.options" ng-value="{{option}}">{{option}}</option>
                                        </select>

										<!-- time table -->
                                        <div ng-switch-when="timetable" class="fixedtable">
                                        	<table class="table table-bordered">
                                        	<tbody>
                                        	<tr>
												<th>Time Available</th>
												<th>Monday</th>
												<th>Tuesday</th>
												<th>Wednesday</th>
												<th>Thursday</th>
												<th>Friday</th>
												<th>Saturday</th>
												<th>Sunday</th>
                                        	</tr>
                                        	<tr>
                                        	  <td> Morning </br>(8AM-12PM) </td>
                                        	  <td>
												<label>
            									<input type="checkbox"   ng-model="time.monMorn">
            								   </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.tueMorn">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.wedMorn">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.thurMorn">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.friMorn">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.satMorn">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.sunMorn">
											    </label>
            								  </td>
                                        	 </tr>
                                        	 <tr>
                                        	  <td> Afternoon </br>(12PM-5PM) </td>
                                        	  <td>
												<label>
            									<input type="checkbox"   ng-model="time.monAfternoon">
            								   </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.tueAfternoon">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.wedAfternoon">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.thurAfternoon">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.friAfternoon">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.satAfternoon">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.sunAfternoon">
											    </label>
            								  </td>
                                        	 </tr>
                                        	 <tr>
                                        	  <td> Evening </br>(5PM-9PM) </td>
                                        	  <td>
												<label>
            									<input type="checkbox"   ng-model="time.monEve">
            								   </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.tueEve">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.wedEve">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.thurEve">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.friEve">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.satEve">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="time.sunEve">
											    </label>
            								  </td>
                                        	 </tr>
                                        	</tbody>
                                        	</table>
										</div>

									    <!--Tutor Preferences Table -->
										<div ng-switch-when="preferenceTable" class="fixedtable">
										   <strong>Tutor Preference</strong>
                                        	<table class="table table-bordered">
                                        	<tbody>
                                        	<tr>
                                        	 <th>Gender</th>
                                        	 <th>Teen</th>
                                        	 <th>20-25</th>
                                        	 <th>26-35</th>
                                        	 <th>36-45</th>
                                        	 <th>46-55</th>
                                        	 <th>56-65</th>
                                        	 <th>66+</th>
                                        	</tr>
                                        	<tr>
											  <td>
												Male
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="age.maleTeen">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male20">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male26">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male36">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male46">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male56">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.male66">
											    </label>
            								  </td>
                                        	</tr>
                                        	<tr>
											  <td>
												Female
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="age.femaleTeen">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female20">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female26">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female36">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female46">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female56">
											    </label>
            								  </td>
            								  <td>
											  	<label>
											      <input type="checkbox"   ng-model="preference.female66">
											    </label>
            								  </td>
            								  </tr>
                                        	</tbody>
                                        	</table>
                                        </div>

                                        <!-- Dependant Table -->
										<div ng-switch-when="dependantTable" class="fixedtable">
										   <p>If Yes*</p>
                                        	<table class="table table-bordered">
                                        	<tbody>
                                        	<tr>
                                        	 <th>Birth Year</th>
                                        	 <th>Lives in same house?</th>
                                        	 <th>In school (k-12)?</th>
                                        	</tr>
                                        	<tr>
                                        	 <td>Dependant 1
                                        	   <label>
                                        	    <input type="text" ng-model="dependant1.birthyear">
                                        	   </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant1.livesWith">
                                        	  </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant1.inSchool">
                                        	  </label>
                                        	 </td>
                                        	</tr>
                                        	<tr>
                                        	 <td>Dependant 2
                                        	   <label>
                                        	    <input type="text" ng-model="dependant2.birthyear">
                                        	   </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant2.livesWith">
                                        	  </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant2.inSchool">
                                        	  </label>
                                        	 </td>
                                        	</tr>
                                        	<tr>
                                        	 <td>Dependant 3
                                        	   <label>
                                        	    <input type="text" ng-model="dependant3.birthyear">
                                        	   </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant3.livesWith">
                                        	  </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant3.inSchool">
                                        	  </label>
                                        	 </td>
                                        	</tr>
                                        	<tr>
                                        	 <td>Dependant 4
                                        	   <label>
                                        	    <input type="text" ng-model="dependant4.birthyear">
                                        	   </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant4.livesWith">
                                        	  </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant4.inSchool">
                                        	  </label>
                                        	 </td>
                                        	</tr>
                                        	<tr>
                                        	 <td>Dependant 5
                                        	   <label>
                                        	    <input type="text" ng-model="dependant5.birthyear">
                                        	   </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant5.livesWith">
                                        	  </label>
                                        	 </td>
                                        	 <td>
                                        	  <label>
                                        	   <input type="checkbox" ng-model="dependant5.inSchool">
                                        	  </label>
                                        	 </td>
                                        	</tr>
                                           </tbody>
                                          </table>
                                        </div>

                                        <!-- Other inputs -->
                                        <input ng-switch-default type="{{field.type}}" class="form-control" id="{{field.name}}" ng-trim="{{field.trim}}" ng-value="{{field.value}}" maxlength="{{field.maxlength}}" />
                                    </div>


                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {
        $("[name='boolean-checkbox']").bootstrapSwitch({onText: 'Yes', offText: 'No'});
    });
</script>
</html>