<div class="sidebar">
    <ul class="nav nav-stacked nav-pills">
        <!-- Section Names -->
        <li>
            <a href="/student-form">Add a new Student</a>
        </li>
        <li>
            <a href="#">Add a new Tutor</a>
        </li>
        <li>
            <a href="/tutors">View Existing Tutors</a>
        </li>
        <li>
            <a href="/students">View Existing Students</a>
        </li>
        <li>
            <a href="/matching">Create Student-Tutor Matching</a>
        </li>
    </ul>
</div>
