<html ng-app="lvmApp">
<head>
    <title>LVM App - Dashboard</title>
    <base href="/">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css">

    <link rel="stylesheet" href="css/form-style.css">

    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.0/angucomplete-alt.min.js"></script>
    <script src="js/lvm.js"></script>
    <script src="js/dashboard/dashboard.js"></script>
</head>
<body ng-controller="DashboardController as form">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header-include" ng-include="'components/header.html'"></div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <h2>TSMData - Dashboard</h2>
                </div>
                <div style="text-align:right" class="col-md-2">Welcome, {{$root.user.username}}!</div>
            </div>

            <div class="row">
                <div class="col-md-3 sidebar-outer">
                    <div id="sidebar-include" ng-include="'components/dashboard-sidebar.html'"></div>
                </div>
                <div class="col-md-9">
                    <form role="form">

                        <div class="form-group" id="main">
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
